/* 전체 선택*/
* {
  color: orange;
  border-radius: 10px;
}

/* 태그 선택자 */
p {
  font-style: italic;
}

/* 클래스 선택자*/
.accent {
  border: 1px solid #333;
  padding: 5px;
  color: red;
}

.bg {
  background-color: #acfab6;
}

/*아이디 선택자 (unique)*/
#container {
  width: calc(100vw - 200px);
  height: calc(100vh - 700px);
  margin: 100px auto;
  padding: 30px;
  border: 1px solid green;
  background-image: url("/images/background.png");
  background-size: 100% 100%;
  border-radius: 10px;
}

a[href] {
  color: brown;
  text-decoration: dotted;
  font-size: 1.5em;
}

a[target="_blank"] {
  color: yellow;
}

.box > p {
  font-size: 1.2em;
  color: red;
  font-weight: 900;
}

/* 위와 구분이 된다. 아래 태그 모두에 적용.
위는 직계 자식만 적용 */
/* .box p {
  font-size: 1.2em;
  color: red;
  font-weight: 900;
} */

/* h1 다음에 오는 첫번째 h2에만 적용 */
h1 + h2 {
  color: yellowgreen;
}

/* h1에 나오는 h2에 모두 적용 */
h1 ~ h2 {
  color: violet;
}

/* 요소의 특정 부분에 스타일을 적용 */
/* (:)콜론으로 시작해 요소의 내용이 아닌 요소의 특정 부분에 스타일을 적용 */
h1::before {
  content: "★";
  color: red;
}
h2::after {
  content: "♥";
  color: blue;
}

/* 요소의 상태를 이용해 선택자를 지정하는 방법 */
/* link: 한번도 방문하지 않은 링크일 때 선택 */
a:link {
  color: beige;
  font-weight: bold;
}
a:visited {
  color: purple;
}
