body {
  height: 100vh;
  background-image: url("./images/bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.container {
  padding: 50px 0;
}

/* heroes 그룹 스타일 */
.heroes {
  display: flex; /* 아이템을 가로로 나열하기 위해 Flexbox를 사용 */
  flex-wrap: wrap; /* 아이템이 넘칠 때 줄 바꿈 설정 */
  justify-content: center; /* 아이템을 가운데 정렬 */
  max-width: 700px; /* 최대 너비 설정 */

  /* 가운데 정렬을 위해 가로 마진을 auto로 설정 */
  /* 부모 요소의 가로 중앙으로 이동 */
  margin: 0 auto;

  padding: 40px 20px; /* 패딩 설정 */
}

/* 개별 hero 스타일 */
.hero {
  width: 80px; /* 너비 설정 */
  height: 84px; /* 높이 설정 */
  margin: 4px; /* 마진 설정 */
  border: 3px solid #fff; /* 흰색 테두리 설정 */
  border-radius: 10px; /* 모서리를 둥글게 만들기 */
  box-sizing: border-box; /* 테두리와 패딩을 요소 크기에 포함하기 위해 설정 */
  background-color: #555; /* 배경 색상 설정 */
  overflow: hidden; /* 내용이 넘칠 때 숨김 처리 */

  /* 평행사변형 */
  transform: skewX(-14deg); /* X축 방향으로 -14도 기울임 효과 */

  transition: transform 0.1s, background-color 0.6s; /* 변환 및 배경색 애니메이션 설정 */
}

.hero:hover {
  background-color: #ff9c00;
  transform: skewX(-14deg) scale(1.3);
  z-index: 1;
}

.image {
  width: 140%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 90px;
  transform: skewX(14deg) translateX(-16px);
}

.hero:nth-child(1) .image {
  background-image: url("./images/hero1.png");
}
.hero:nth-child(2) .image {
  background-image: url("./images/hero2.png");
}
.container .heroes .hero:nth-child(3) .image {
  background-image: url("./images/hero3.png");
}
.container .heroes .hero:nth-child(4) .image {
  background-image: url("./images/hero4.png");
}
.container .heroes .hero:nth-child(5) .image {
  background-image: url("./images/hero5.png");
}
.container .heroes .hero:nth-child(6) .image {
  background-image: url("./images/hero6.png");
}
.container .heroes .hero:nth-child(7) .image {
  background-image: url("./images/hero7.png");
}
.container .heroes .hero:nth-child(8) .image {
  background-image: url("./images/hero8.png");
}
.container .heroes .hero:nth-child(9) .image {
  background-image: url("./images/hero9.png");
}
.container .heroes .hero:nth-child(10) .image {
  background-image: url("./images/hero10.png");
}

.container .heroes .hero:nth-child(11) .image {
  background-image: url("./images/hero11.png");
}
.container .heroes .hero:nth-child(12) .image {
  background-image: url("./images/hero12.png");
}
.container .heroes .hero:nth-child(13) .image {
  background-image: url("./images/hero13.png");
}
.container .heroes .hero:nth-child(14) .image {
  background-image: url("./images/hero14.png");
}
.container .heroes .hero:nth-child(15) .image {
  background-image: url("./images/hero15.png");
}
.container .heroes .hero:nth-child(16) .image {
  background-image: url("./images/hero16.png");
}
.container .heroes .hero:nth-child(17) .image {
  background-image: url("./images/hero17.png");
}
.container .heroes .hero:nth-child(18) .image {
  background-image: url("./images/hero18.png");
}
.container .heroes .hero:nth-child(19) .image {
  background-image: url("./images/hero19.png");
}
.container .heroes .hero:nth-child(20) .image {
  background-image: url("./images/hero20.png");
}

.container .heroes .hero:nth-child(21) .image {
  background-image: url("./images/hero21.png");
}
.container .heroes .hero:nth-child(22) .image {
  background-image: url("./images/hero22.png");
}
.container .heroes .hero:nth-child(23) .image {
  background-image: url("./images/hero23.png");
}
.container .heroes .hero:nth-child(24) .image {
  background-image: url("./images/hero24.png");
}
.container .heroes .hero:nth-child(25) .image {
  background-image: url("./images/hero25.png");
}
.container .heroes .hero:nth-child(26) .image {
  background-image: url("./images/hero26.png");
}
.container .heroes .hero:nth-child(27) .image {
  background-image: url("./images/hero27.png");
}
.container .heroes .hero:nth-child(28) .image {
  background-image: url("./images/hero28.png");
}
.container .heroes .hero:nth-child(29) .image {
  background-image: url("./images/hero29.png");
}
.container .heroes .hero:nth-child(30) .image {
  background-image: url("./images/hero30.png");
}
.container .heroes .hero:nth-child(31) .image {
  background-image: url("./images/hero31.png");
}
.container .heroes .hero:nth-child(32) .image {
  background-image: url("./images/hero32.png");
}

.logo {
  max-width: 250px;
  margin: 0 auto;
  padding: 0 20px;
}

.container .logo img {
  width: 100%;
}
